In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\LENOVO\Downloads\Guests.csv')
print(df)

    GuestID FirstName LastName  Gender  Age  ContactNumber  \
0         1      John      Doe    Male   35     1234567890
1         2      Jane    Smith  Female   28     2345678901
2         3     David      Lee    Male   42     3456789012
3         4     Sarah    Brown  Female   31     4567890123
4         5   Michael  Johnson    Male   55     5678901234
5         6      John      Doe    Male   35     1234567890
6         7      Jane    Smith  Female   28     2345678901
7         8     David      Lee    Male   42     3456789012
8         9     Sarah    Brown  Female   31     4567890123
9        10   Michael  Johnson    Male   55     5678901234
10       11      John      Doe    Male   35     1234567890
11       12      Jane    Smith  Female   28     2345678901
12       13     David      Lee    Male   42     3456789012
13       14     Sarah    Brown  Female   31     4567890123
14       15   Michael  Johnson    Male   55     5678901234
15       16      John      Doe    Male   35     1234567890
16       17      Jane    Smith  Female   28     2345678901
17       18     David      Lee    Male   42     3456789012
18       19     Sarah    Brown  Female   31     4567890123
19       20   Michael  Johnson    Male   55     5678901234
20       21      John      Doe    Male   35     1234567890
21       22      Jane    Smith  Female   28     2345678901
22       23     David      Lee    Male   42     3456789012
23       24     Sarah    Brown  Female   31     4567890123
24       25   Michael  Johnson    Male   55     5678901234
25       26      John      Doe    Male   35     1234567890
26       27      Jane    Smith  Female   28     2345678901
27       28     David      Lee    Male   42     3456789012
28       29     Sarah    Brown  Female   31     4567890123
29       30   Michael  Johnson    Male   55     5678901234
30       31      John      Doe    Male   35     1234567890
31       32      Jane    Smith  Female   28     2345678901
32       33     David      Lee    Male   42     3456789012
33       34     Sarah    Brown  Female   31     4567890123
34       35   Michael  Johnson    Male   55     5678901234
35       36      John      Doe    Male   35     1234567890
36       37      Jane    Smith  Female   28     2345678901
37       38     David      Lee    Male   42     3456789012
38       39     Sarah    Brown  Female   31     4567890123
39       40   Michael  Johnson    Male   55     5678901234
40       41      John      Doe    Male   35     1234567890
41       42      Jane    Smith  Female   28     2345678901
42       43     David      Lee    Male   42     3456789012
43       44     Sarah    Brown  Female   31     4567890123
44       45   Michael  Johnson    Male   55     5678901234
45       46      John      Doe    Male   35     1234567890
46       47      Jane    Smith  Female   28     2345678901
47       48     David      Lee    Male   42     3456789012
48       49     Sarah    Brown  Female   31     4567890123
49       50   Michael  Johnson    Male   55     5678901234

                    Email        Address
0      john.doe@gmail.com  123 Maple St.
1    jane.smith@gmail.com   456 Oak Ave.
2     david.lee@gmail.com   789 Pine Rd.
3   sarah.brown@gmail.com  101 Cedar Ct.
4     michael.j@gmail.com  202 Birch Dr.
5      john.doe@gmail.com  123 Maple St.
6    jane.smith@gmail.com   456 Oak Ave.
7     david.lee@gmail.com   789 Pine Rd.
8   sarah.brown@gmail.com  101 Cedar Ct.
9     michael.j@gmail.com  202 Birch Dr.
10     john.doe@gmail.com  123 Maple St.
11   jane.smith@gmail.com   456 Oak Ave.
12    david.lee@gmail.com   789 Pine Rd.
13  sarah.brown@gmail.com  101 Cedar Ct.
14    michael.j@gmail.com  202 Birch Dr.
15     john.doe@gmail.com  123 Maple St.
16   jane.smith@gmail.com   456 Oak Ave.
17    david.lee@gmail.com   789 Pine Rd.
18  sarah.brown@gmail.com  101 Cedar Ct.
19    michael.j@gmail.com  202 Birch Dr.
20     john.doe@gmail.com  123 Maple St.
21   jane.smith@gmail.com   456 Oak Ave.
22    david.lee@gmail.com   789 Pine Rd.
23  sarah.brown@gmail.com  101 Cedar Ct.
24    michael.j@gmail.com  202 Birch Dr.
25     john.doe@gmail.com  123 Maple St.
26   jane.smith@gmail.com   456 Oak Ave.
27    david.lee@gmail.com   789 Pine Rd.
28  sarah.brown@gmail.com  101 Cedar Ct.
29    michael.j@gmail.com  202 Birch Dr.
30     john.doe@gmail.com  123 Maple St.
31   jane.smith@gmail.com   456 Oak Ave.
32    david.lee@gmail.com   789 Pine Rd.
33  sarah.brown@gmail.com  101 Cedar Ct.
34    michael.j@gmail.com  202 Birch Dr.
35     john.doe@gmail.com  123 Maple St.
36   jane.smith@gmail.com   456 Oak Ave.
37    david.lee@gmail.com   789 Pine Rd.
38  sarah.brown@gmail.com  101 Cedar Ct.
39    michael.j@gmail.com  202 Birch Dr.
40     john.doe@gmail.com  123 Maple St.
41   jane.smith@gmail.com   456 Oak Ave.
42    david.lee@gmail.com   789 Pine Rd.
43  sarah.brown@gmail.com  101 Cedar Ct.
44    michael.j@gmail.com  202 Birch Dr.
45     john.doe@gmail.com  123 Maple St.
46   jane.smith@gmail.com   456 Oak Ave.
47    david.lee@gmail.com   789 Pine Rd.
48  sarah.brown@gmail.com  101 Cedar Ct.
49    michael.j@gmail.com  202 Birch Dr.

In [2]:
from sqlalchemy import create_engine

#create connection engine
raj_sql = create_engine('mysql+mysqlconnector://root:Gold%40123@localhost:3306/internshala')  # provide sql workbench hostname and password and database name

df.to_sql(name='guests',
          con = raj_sql,
          if_exists = 'replace',  #check if table is there if there drop that and import this
          index = False,
          chunksize =  10000)

print('Data imported Raj')

Data imported Raj

In [3]:
import pandas as pd
df1 = pd.read_csv(r'C:\Users\LENOVO\Downloads\Bookings.csv')
print(df1)

    BookingID  GuestID  RoomNumber CheckInDate CheckOutDate BookingStatus  \
0         101        1         201  2024-09-10   2024-09-15     Confirmed
1         102        2         305  2024-09-11   2024-09-12    CheckedOut
2         103        3         402  2024-09-12   2024-09-14     Cancelled
3         104        4         101  2024-09-13   2024-09-16     Confirmed
4         105        5         203  2024-09-15   2024-09-18     Confirmed
5         106        6         201  2024-09-10   2024-09-15     Confirmed
6         107        7         305  2024-09-11   2024-09-12    CheckedOut
7         108        8         402  2024-09-12   2024-09-14     Cancelled
8         109        9         101  2024-09-13   2024-09-16     Confirmed
9         110       10         203  2024-09-15   2024-09-18     Confirmed
10        111       11         201  2024-09-10   2024-09-15     Confirmed
11        112       12         305  2024-09-11   2024-09-12    CheckedOut
12        113       13         402  2024-09-12   2024-09-14     Cancelled
13        114       14         101  2024-09-13   2024-09-16     Confirmed
14        115       15         203  2024-09-15   2024-09-18     Confirmed
15        116       16         201  2024-09-10   2024-09-15     Confirmed
16        117       17         305  2024-09-11   2024-09-12    CheckedOut
17        118       18         402  2024-09-12   2024-09-14     Cancelled
18        119       19         101  2024-09-13   2024-09-16     Confirmed
19        120       20         203  2024-09-15   2024-09-18     Confirmed
20        121       21         201  2024-09-10   2024-09-15     Confirmed
21        122       22         305  2024-09-11   2024-09-12    CheckedOut
22        123       23         402  2024-09-12   2024-09-14     Cancelled
23        124       24         101  2024-09-13   2024-09-16     Confirmed
24        125       25         203  2024-09-15   2024-09-18     Confirmed
25        126       26         201  2024-09-10   2024-09-15     Confirmed
26        127       27         305  2024-09-11   2024-09-12    CheckedOut
27        128       28         402  2024-09-12   2024-09-14     Cancelled
28        129       29         101  2024-09-13   2024-09-16     Confirmed
29        130       30         203  2024-09-15   2024-09-18     Confirmed
30        131       31         201  2024-09-10   2024-09-15     Confirmed
31        132       32         305  2024-09-11   2024-09-12    CheckedOut
32        133       33         402  2024-09-12   2024-09-14     Cancelled
33        134       34         101  2024-09-13   2024-09-16     Confirmed
34        135       35         203  2024-09-15   2024-09-18     Confirmed
35        136       36         201  2024-09-10   2024-09-15     Confirmed
36        137       37         305  2024-09-11   2024-09-12    CheckedOut
37        138       38         402  2024-09-12   2024-09-14     Cancelled
38        139       39         101  2024-09-13   2024-09-16     Confirmed
39        140       40         203  2024-09-15   2024-09-18     Confirmed
40        141       41         201  2024-09-10   2024-09-15     Confirmed
41        142       42         305  2024-09-11   2024-09-12    CheckedOut
42        143       43         402  2024-09-12   2024-09-14     Cancelled
43        144       44         101  2024-09-13   2024-09-16     Confirmed
44        145       45         203  2024-09-15   2024-09-18     Confirmed
45        146       46         201  2024-09-10   2024-09-15     Confirmed
46        147       47         305  2024-09-11   2024-09-12    CheckedOut
47        148       48         402  2024-09-12   2024-09-14     Cancelled
48        149       49         101  2024-09-13   2024-09-16     Confirmed
49        150       50         203  2024-09-15   2024-09-18     Confirmed

    TotalAmount
0           500
1           150
2           200
3           300
4           450
5           500
6           150
7           200
8           300
9           450
10          500
11          150
12          200
13          300
14          450
15          500
16          150
17          200
18          300
19          450
20          500
21          150
22          200
23          300
24          450
25          500
26          150
27          200
28          300
29          450
30          500
31          150
32          200
33          300
34          450
35          500
36          150
37          200
38          300
39          450
40          500
41          150
42          200
43          300
44          450
45          500
46          150
47          200
48          300
49          450

In [4]:

df1.to_sql(name='bookings',
          con = raj_sql,
          if_exists = 'replace',  #check if table is there if there drop that and import this
          index = False,
          chunksize =  10000)

print('Data imported Raj')

Data imported Raj

In [5]:
import pandas as pd
df2 = pd.read_csv(r'C:\Users\LENOVO\Downloads\Rooms.csv')
print(df2)

    RoomNumber RoomType BedType  RoomRate     Status
0          101   Single   Queen       100  Available
1          201   Double    King       150     Booked
2          305    Suite    King       200     Booked
3          402   Deluxe   Queen       175  Available
4          203   Double    Twin       120     Booked
5          101   Single   Queen       100  Available
6          201   Double    King       150     Booked
7          305    Suite    King       200     Booked
8          402   Deluxe   Queen       175  Available
9          203   Double    Twin       120     Booked
10         101   Single   Queen       100  Available
11         201   Double    King       150     Booked
12         305    Suite    King       200     Booked
13         402   Deluxe   Queen       175  Available
14         203   Double    Twin       120     Booked
15         101   Single   Queen       100  Available
16         201   Double    King       150     Booked
17         305    Suite    King       200     Booked
18         402   Deluxe   Queen       175  Available
19         203   Double    Twin       120     Booked
20         101   Single   Queen       100  Available
21         201   Double    King       150     Booked
22         305    Suite    King       200     Booked
23         402   Deluxe   Queen       175  Available
24         203   Double    Twin       120     Booked
25         101   Single   Queen       100  Available
26         201   Double    King       150     Booked
27         305    Suite    King       200     Booked
28         402   Deluxe   Queen       175  Available
29         203   Double    Twin       120     Booked
30         101   Single   Queen       100  Available
31         201   Double    King       150     Booked
32         305    Suite    King       200     Booked
33         402   Deluxe   Queen       175  Available
34         203   Double    Twin       120     Booked
35         101   Single   Queen       100  Available
36         201   Double    King       150     Booked
37         305    Suite    King       200     Booked
38         402   Deluxe   Queen       175  Available
39         203   Double    Twin       120     Booked
40         101   Single   Queen       100  Available
41         201   Double    King       150     Booked
42         305    Suite    King       200     Booked
43         402   Deluxe   Queen       175  Available
44         203   Double    Twin       120     Booked
45         101   Single   Queen       100  Available
46         201   Double    King       150     Booked
47         305    Suite    King       200     Booked
48         402   Deluxe   Queen       175  Available
49         203   Double    Twin       120     Booked

In [6]:
df2.to_sql(name='rooms',
          con = raj_sql,
          if_exists = 'replace',  #check if table is there if there drop that and import this
          index = False,
          chunksize =  10000)

print('Data imported Raj')

Data imported Raj